/* 以下是主要內容區css*/
#content {
	background-color:#CCEEFF;height:100%;width:100%;float:left;
	}
h2{
	color: red;
	font-weight:bold;
}

.order{
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 5%;
}

.board{
	border-collapse:collapse;
	width: 90%;
	border: 1px solid #000000;
}
th{	padding: 1%;
	background-color: #c6cfff;
	border: 1px solid #000000;
	border-collapse:collapse;
}
tr{
	background-color: #f3f8ff;
}
td{
	padding: 1%;
	border: 1px solid #000000;
	border-collapse:collapse;
}
.th1{
	width: 10%;
}
.th2{
	width: 20%;
}
.th3{
	text-align: left;
}
.red{
	font-size: 25px;
	color: red;
}

.but{
	border:0;
	background-color:#5ca0d3;
	padding: 10px;
	color: yellow;
	margin-top: 2%;
	margin-left: 10%;
	border-radius:10px;
	font-size: 20px;
	font-weight:bold;
}
hr{
	margin-bottom: 1%;
	margin-top:1%;
}
