/* 以下是主要內容區css*/
#content {
	background-color:#CCEEFF;height:100%;width:100%;float:left;
	}
h2{
	color: red;
	font-weight:bold;
}
.left{
	width: 60%;
	float: right;
	margin-top: 1%;
	margin-bottom: 3%;
	font-size: 18px;
}
.right{
	margin-top: 1.5%;
	margin-left: 0%;
	width: 40%;
	float: left;
}
.customer{
	margin-left: 3%;
	margin-right: 3%;
}
.but{
	border:0;
	background-color:#5ca0d3;
	padding: 10px;
	color: yellow;
	border-radius:10px;
	font-size: 20px;
	font-weight:bold;
}