/* 以下是主要內容區css*/
#content {
	background-color:#CCEEFF;height:100%;width:100%;float:left;
	}
/*以下評論區*/
.Tboard {
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 3%;
	border-collapse:collapse;
	width: 80%;
	border: 1px solid #000000;
	list-style-type:none;	
	text-align: left;
	padding: 3%;
}

.but{
	border:0;
	background-color:#5ca0d3;
	padding: 10px;
	color: yellow;
	border-radius:10px;
	font-size: 20px;
	font-weight:bold;
	margin-left: 10%;
}
.Bhead{
	background-color: #c6cfff;
}
th{
	background-color: #deecff;
}
tr{
	background-color: #f3f8ff;
}

.comment{
	padding: 1%;
	border: 1px solid #000000;
}
/*以上評論區*/