/* 以下是主要內容區css*/
#content {
	background-color:#CCEEFF;height:100%;width:100%;float:left;
	}
h2{
	color: red;
	font-weight:bold;
}
.left{

	width: 80%;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 3%;
	font-size: 18px;
}
.board{

	border-collapse:collapse;
	border: 1px solid #000000;
}
.board tr td{
	padding: 5px;
	border-collapse:collapse;
	border: 1px solid #000000;
}
.show{
	color: red;
}
.show2{
	background-color: yellow;
	color: red;
}